@using TurkcellGyAspNetCoreApp.Web.Controllers;
@{
    ViewData["Title"] = "Index";

}

<h1>Example Controller, Index page</h1>

@*@model List<Product>;

    @foreach (var item in Model)
{
    <p>@item.Id - @item.Name</p>
}*@

