@{
    ViewData["Title"] = "Home Page";
    var alert = "this is an alert message.";
}
@section Scripts
{
    <script type="text/javascript">
    //alert("Sayfaya hoşgeldiniz")  
        $(document).ready(function(){
            console.log("Sayfamıza hoş geldin");
        })
    </script>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>Günün tarihi: @DateTime.Now.ToShortDateString()</div>

<partial name="_MenuPartialView"/>
@await Html.PartialAsync("_MenuPartialView")
