@{
	ViewData["Title"] = "ExampleController2 Index Page";
	Layout = "ExampleLayout";
}
@section header
{
	<p>Bu satır header'ın hemen altına eklenecek</p>
}
@section footer
{
	<p>Bu satır footer'ın hemen altına eklenecek</p>
}
<div>Bu sayfa ExampleController2 > Index sayfası</div>